*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Wrapper{
    position: relative;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    padding: 20px;
    position: absolute;
    top:10%;
    right: 10%;
    font-family:sans-serif;
    color:rgb(181, 177, 172);
}

.todoApp{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
    padding: 20px;
}

.input-group{
    width: 100%;
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}

.input{
    font-size: 15px;
    width: 100%;
    padding: 20px 25px;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid gray;
}

.btn{
    color:gray;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #a5a5a5;
    border: 2px solid gray;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor:pointer
}


.todo_lists{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    gap: 0.5rem;
}

.para{
    color: #a5a5a5;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

.list{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.del{
    color: red;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor:pointer
}
